.TodoItem {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #AAA;
    font-weight: 300;
}

* {
    user-select: none;
}

.TodoItem:hover>.delete {
    display: inline;
}

.TodoItem>.delete {
    color: black;
    font-weight: 100;
    opacity: 1;
    font-size: .7rem;
    line-height: 100%;
    display: none;
    cursor: pointer;
}

.TodoItem:last-child {
    border: none;
}

.uncheck {
    text-align: center;
    color: green;
    line-height: 27px;
    font-size: .7rem;
    font-weight: 600;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: .5px solid black;
    margin-left: 2px;
    cursor: pointer;
}

.TodoItem p {
    user-select: text;
    margin-left: 20px;
    transition: all .3s ease-in;
    overflow: hidden;
    flex-grow: 1;
    padding: 10px;
    text-overflow: ellipsis;
}

.TodoItem p:hover {
    overflow: visible;
}

p.complete {
    text-decoration: line-through;
    opacity: .3;
    font-style: italic;
}

.input-edit {
    outline: none;
    border: none;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .2);
    background-color: transparent;
    margin-left: 20px;
    transition: all .3s ease-in;
    overflow: hidden;
    flex-grow: 1;
    padding: 10px;
    text-overflow: ellipsis;
}

.TodoItem .input-edit+.delete {
    display: none;
}