* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

body {
    background-image: url('./images//1249476.jpg');
    background-attachment: fixed;
}

.App {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-family: 'consolas';
    font-weight: 200;
    color: #CCC;
    margin-bottom: 10px;
}

.wrapper {
    position: relative;
    width: 600px;
    max-width: 80%;
    border: .3px solid rgba(0, 0, 0, .3);
    padding: 20px;
    box-shadow: 3px 1px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: rgba(255, 255, 255, .8);
}

.input {
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #AAA;
}

.input input {
    outline: none;
    border: none;
    width: 100%;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: transparent;
}

.input input::placeholder {
    font-size: .9rem;
    font-style: italic;
    font-weight: 300;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer * {
    font-size: .8rem;
    font-weight: 300;
}

.footer .clear-complete {
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
}

.footer .clear-complete:hover {
    text-decoration: underline;
}

.footer .clear-complete.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
}

.filter button {
    margin: 0px 5px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 4px;
    border-radius: .2rem;
    cursor: pointer;
}

.filter button:hover {
    border: .2px solid rgba(0, 0, 0, .1);
}

.filter button.active {
    border: .5px solid rgba(0, 0, 0, .3);
}